<div class="card card--dark">
  <img class="card__image" src="/images/latte.jpg" alt="" />
  <div class="card__body">
    <h2 class="card__header">Positively pistachio</h2>
    <p class="card__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto
      a, ea nihil porro obcaecati.
    </p>
    <a href="#" class="btn btn--light">Join Now</a>
  </div>
</div>
<div class="card card--light">
  <img class="card__image" src="/images/latte.jpg" alt="" />
  <div class="card__body">
    <h2 class="card__header">Positively pistachio</h2>
    <p class="card__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto
      a, ea nihil porro obcaecati.
    </p>
    <a href="#" class="btn btn--dark">Join Now</a>
  </div>
</div>
